<ul id="main-nav">  <!-- Accordion Menu -->
		
	<li>
		<a href="#" class="nav-top-item">
			FOTOS	
	</a>
		<ul>
			<li><a href="/guest/fotos">Listar Fotos</a></li>
			<li><a href="/guest/fotos?dia=1">Fotos dia 01/09</a></li>
			<li><a href="/guest/fotos?dia=2">Fotos dia 02/09</a></li>
			<li><a href="/guest/fotos?dia=3">Fotos dia 03/09</a></li>
			<li><a href="/guest/fotos?dia=4">Fotos dia 04/09</a></li>
			<li><a href="/guest/fotos?dia=5">Fotos dia 05/09</a></li>
			<li><a href="/guest/fotos?dia=6">Fotos dia 06/09</a></li>
			<li><a href="/guest/fotos?dia=7">Fotos dia 07/09</a></li>
			<li><a href="/guest/fotos?dia=8">Fotos dia 08/09</a></li>
			<li><a href="/guest/fotos?dia=9">Fotos dia 09/09</a></li>
			<li><a href="/guest/fotos?dia=10">Fotos dia 10/09</a></li>
			<li><a href="/guest/fotos?dia=11">Fotos dia 11/09</a></li>
			
		</ul>
	</li>
	<li>
		<a href="#" class="nav-top-item">
			ENVIO DAS FOTOS	
	</a>
		<ul>
			<li><a href="/guest/galerias/?tipo=DOWNLOAD">Listar Galeria fotos</a></li>
		</ul>
	</li>
</ul> <!-- End #main-nav -->
