<div class="content-box">
    <div class="content-box-header">
					<h3 id="titulosecao">NOVO MENU</h3>
		</div>
		
		<div class="content-box-content">

    <% form_for([:admin,@menu], :html => { :multipart => true }) do |f| %>
    <%= render :partial => "form_menus", :locals => { :f => f } %>
    
    </div> <!-- End .content-box-content -->
			
    <p class="pbutton">
      <%= f.submit "CRIAR NOVO MENU", :class=>"button" %> ou <%= link_to 'cancelar', admin_menus_path, :class => "cancelar" %>
    </p>
    <%end%>			
		</div> <!-- End .content-box -->
